<%= render "form.html", changeset: @changeset, action: user_path(@conn, :update, @user) %>

<%= link "パスワードの変更はこちらから", to: user_path(@conn, :edit_password, @current_user),class: "btn btn-warning btn-xs"%><br>

<%= link "戻る", to: page_path(@conn, :index) , class: "btn btn-default btn-xs" %>