<div class="row">
  <aside class="col-md-4">
    <section>
      <%= render "user.html", user: @user, conn: @conn %>
      <%= link "Edit", to: user_path(@conn, :edit, @user), class: "btn btn-default btn-xs" %>
    </section>
  </aside>
 </div>